.page__content {
  margin: 0 auto;
  margin-top: 10vmin;
  max-width: 33ch;

  font-family: 'Montserrat', sans-serif;
}

.title {
  font-size: 40px;
}

.me-photo {
  height: 150px;
}

.icon {
  height: 19px;
  width: 19px;
  padding-right: 5px;
}

.link {
  text-decoration:none;
  color: #f26522;
}

.social-links {
  display: flex;
  flex-direction: column;
}

.splitter {
  display: flex;
  overflow: hidden;
  align-items: center;
  margin: 5px 0;
}

.splitter:hover .splitter__first-split, .splitter:focus .splitter__first-split {
  transform: translate3d(0, -110%, 0);
}
.splitter:hover .splitter__second-split, .splitter:focus .splitter__second-split {
  transform: translate3d(0, 110%, 0);
}

.splitter__first-split,
.splitter__second-split {
  display: inline-block;
  position: relative;
  transition: transform .3s;
}

.splitter__first-split::before,
.splitter__second-split::before {
  position: absolute;
  content:  attr(data-hover);
}

.splitter__first-split {
  color: #000;
}
.splitter__first-split::before {
  top: 110%;
  color: #f26522;
}

.splitter__second-split {
  color: #f26522;
}
.splitter__second-split::before {
  bottom: 110%;
  color: #000;
}